<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>balloon_0_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{32,32}}</string>
		</dict>
		<key>balloon_0_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{32,32}}</string>
		</dict>
		<key>balloon_0_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{32,32}}</string>
		</dict>
		<key>balloon_0_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,0},{32,32}}</string>
		</dict>
		<key>balloon_0_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,0},{32,32}}</string>
		</dict>
		<key>balloon_0_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{32,32}}</string>
		</dict>
		<key>balloon_0_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,0},{32,32}}</string>
		</dict>
		<key>balloon_0_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,0},{32,32}}</string>
		</dict>
		<key>balloon_1_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,32},{32,32}}</string>
		</dict>
		<key>balloon_1_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,32},{32,32}}</string>
		</dict>
		<key>balloon_1_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,32},{32,32}}</string>
		</dict>
		<key>balloon_1_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,32},{32,32}}</string>
		</dict>
		<key>balloon_1_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,32},{32,32}}</string>
		</dict>
		<key>balloon_1_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,32},{32,32}}</string>
		</dict>
		<key>balloon_1_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,32},{32,32}}</string>
		</dict>
		<key>balloon_1_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,32},{32,32}}</string>
		</dict>
		<key>balloon_2_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,64},{32,32}}</string>
		</dict>
		<key>balloon_2_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,64},{32,32}}</string>
		</dict>
		<key>balloon_2_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,64},{32,32}}</string>
		</dict>
		<key>balloon_2_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,64},{32,32}}</string>
		</dict>
		<key>balloon_2_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,64},{32,32}}</string>
		</dict>
		<key>balloon_2_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,64},{32,32}}</string>
		</dict>
		<key>balloon_2_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,64},{32,32}}</string>
		</dict>
		<key>balloon_2_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,64},{32,32}}</string>
		</dict>
		<key>balloon_3_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{32,32}}</string>
		</dict>
		<key>balloon_3_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,96},{32,32}}</string>
		</dict>
		<key>balloon_3_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,96},{32,32}}</string>
		</dict>
		<key>balloon_3_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,96},{32,32}}</string>
		</dict>
		<key>balloon_3_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,96},{32,32}}</string>
		</dict>
		<key>balloon_3_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,96},{32,32}}</string>
		</dict>
		<key>balloon_3_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,96},{32,32}}</string>
		</dict>
		<key>balloon_3_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,96},{32,32}}</string>
		</dict>
		<key>balloon_4_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,128},{32,32}}</string>
		</dict>
		<key>balloon_4_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,128},{32,32}}</string>
		</dict>
		<key>balloon_4_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,128},{32,32}}</string>
		</dict>
		<key>balloon_4_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,128},{32,32}}</string>
		</dict>
		<key>balloon_4_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,128},{32,32}}</string>
		</dict>
		<key>balloon_4_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,128},{32,32}}</string>
		</dict>
		<key>balloon_4_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,128},{32,32}}</string>
		</dict>
		<key>balloon_4_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,128},{32,32}}</string>
		</dict>
		<key>balloon_5_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,160},{32,32}}</string>
		</dict>
		<key>balloon_5_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,160},{32,32}}</string>
		</dict>
		<key>balloon_5_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,160},{32,32}}</string>
		</dict>
		<key>balloon_5_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,160},{32,32}}</string>
		</dict>
		<key>balloon_5_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,160},{32,32}}</string>
		</dict>
		<key>balloon_5_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,160},{32,32}}</string>
		</dict>
		<key>balloon_5_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,160},{32,32}}</string>
		</dict>
		<key>balloon_5_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,160},{32,32}}</string>
		</dict>
		<key>balloon_6_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,192},{32,32}}</string>
		</dict>
		<key>balloon_6_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,192},{32,32}}</string>
		</dict>
		<key>balloon_6_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,192},{32,32}}</string>
		</dict>
		<key>balloon_6_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,192},{32,32}}</string>
		</dict>
		<key>balloon_6_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,192},{32,32}}</string>
		</dict>
		<key>balloon_6_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,192},{32,32}}</string>
		</dict>
		<key>balloon_6_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,192},{32,32}}</string>
		</dict>
		<key>balloon_6_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,192},{32,32}}</string>
		</dict>
		<key>balloon_7_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,224},{32,32}}</string>
		</dict>
		<key>balloon_7_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,224},{32,32}}</string>
		</dict>
		<key>balloon_7_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,224},{32,32}}</string>
		</dict>
		<key>balloon_7_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,224},{32,32}}</string>
		</dict>
		<key>balloon_7_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,224},{32,32}}</string>
		</dict>
		<key>balloon_7_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,224},{32,32}}</string>
		</dict>
		<key>balloon_7_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,224},{32,32}}</string>
		</dict>
		<key>balloon_7_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,224},{32,32}}</string>
		</dict>
		<key>balloon_8_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,256},{32,32}}</string>
		</dict>
		<key>balloon_8_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,256},{32,32}}</string>
		</dict>
		<key>balloon_8_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,256},{32,32}}</string>
		</dict>
		<key>balloon_8_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,256},{32,32}}</string>
		</dict>
		<key>balloon_8_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,256},{32,32}}</string>
		</dict>
		<key>balloon_8_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,256},{32,32}}</string>
		</dict>
		<key>balloon_8_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,256},{32,32}}</string>
		</dict>
		<key>balloon_8_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,256},{32,32}}</string>
		</dict>
		<key>balloon_9_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,288},{32,32}}</string>
		</dict>
		<key>balloon_9_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,288},{32,32}}</string>
		</dict>
		<key>balloon_9_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,288},{32,32}}</string>
		</dict>
		<key>balloon_9_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,288},{32,32}}</string>
		</dict>
		<key>balloon_9_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,288},{32,32}}</string>
		</dict>
		<key>balloon_9_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,288},{32,32}}</string>
		</dict>
		<key>balloon_9_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,288},{32,32}}</string>
		</dict>
		<key>balloon_9_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,288},{32,32}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>balloon.png</string>
		<key>size</key>
		<string>{256,320}</string>
		<key>textureFileName</key>
		<string>balloon.png</string>
	</dict>
</dict>
</plist>
