<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>draco_e_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,36},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,26},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,26},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_n_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,174},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,172},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_s_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,150},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_e_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,166},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,218},{20,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_n_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,76},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_s_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,50},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,50},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,148},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,126},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,230},{20,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_e_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,198},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_n_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,124},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,102},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_s_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,100},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,196},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-chars.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca8ebbcc3d61e0dfbd6563fcf2f634f:1/1$</string>
            <key>textureFileName</key>
            <string>main-chars.png</string>
        </dict>
    </dict>
</plist>
