<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>draco_e_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,22},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,22},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,22},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_n_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,156},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,156},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_s_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,136},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>draco_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_e_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,134},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,208},{20,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_n_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,68},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,44},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_s_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,44},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,44},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{24,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,114},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mom_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,178},{20,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_e_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,112},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_n_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,112},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,92},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_s_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,90},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{22,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,68},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,158},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>sunny_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{20,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-chars.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2fd4566ab141b15e52aa1d7400fc59:1/1$</string>
            <key>textureFileName</key>
            <string>main-chars.png</string>
        </dict>
    </dict>
</plist>
